models/base.pt
models/tinyllama-1.1b-chat-v1.0.Q2_K.gguf
models/base.pt
models/IT20629144_TextBased_03.keras
__pycache__
recorded_audio.wav
logs/logs.log
transcriptions/full_transcript/full_transcript.csv
transcriptions/temp_transcript/temp_transcript.csv
audios/temp_audio/recorded_audio.wav
db/Audio/audio.json
db/Text/temp_prediction.json
db/Result/temp_prediction.json
result/Text/temp_prediction.csv
env
models/unsloth.Q4_K_M.gguf
models/IT20629144_TextBased_03.keras
models/IT21126574_VoiceBased_02.h5
models/IT21126574_VoiceBased_03.h5
models/IT21126574_VoiceBased_04.h5
result/Audio/voice_prediction.csv
result/Audio/voice_prediction.json
logs/voice_emotion_analysis.log
db/Audio/aggregated_last_three.json
db/Audio/voice_prediction.json
db/Audio/voice_session_summary_hourly.json
db/Audio/voice_session_summary_minute.json
models/_voice_analysis_Model.h5
